.linha0{
    background-color: aquamarine;

}

.linha1{

    background-color: violet;
}

.linha2{
    background-color: brown;
}

.row{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}